*{
  font-family: 'Manrope', sans-serif;
  background-color: #0C1D29;
  /* color: #ffffff; */
}
/* .backimg{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 5;
}
@media (min-aspect-ratio: 16/9){
  .backimg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .backimg{
    width: auto;
    height: 100%;
  } */
/* } */


.navbar{
  display: flex;
  justify-content: flex-end;
  margin-right:200px;
  margin-top: 50px;
  font-size: 20px;
  
}

.navbar li{
  list-style-type: none;
  padding: 0 20px;
  margin-top: 0px;
}

.nav-link{
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.5px;
 
}
.nav-link:hover{
  color: #8affd2;
}
.active{
  color: #22ABD5;
  text-decoration: underline;
}

#name{
  color: #22ABD5;
  font-weight: bold;
}
.spec{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px;
  margin-top: 50px;
}
.VIJAY{
  border-radius: 69px;
  margin-right: 50px;  
}
#name{
  color: #22ABD5;
  text-align: start;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 4.8px;
  margin-bottom: 0px;
 
}
#line2{
  margin: 0px 50px;
  color: #ffffff;
text-align: start;
font-size: 28px;
font-style: normal;
font-weight: bold;
letter-spacing: 1.55px;
margin-right: 350px;
}
.para{
  color: #93989D;
text-align: justify;
font-size: 20px;
font-style: normal;
font-weight: bold;
line-height: 38px;
width: 600px;
height: 200px;
padding-left: 0px 10px;
letter-spacing: 1.5px;

}
#more-about{
  border-radius: 50px;
border: 2px solid #22ABD5;
letter-spacing: .5px;
color: #ffffff;
font-size: 15px;
width: 200px;
height: 35px;
text-align: end;
padding-top: 16px;
margin-top: 10px;
font-weight: bold;
}

#morelink{
  text-decoration: none;
  padding-right: 50px;
}
#morelink :hover{
  color: #4dd0ff;
}
#arrow{
  background-color:#22ABD5;
  color: white;
  font-size: 14px;
  border-radius: 50px;
  margin-left: 2px;
  padding: 17px;
 
}
#socialmedia-link{
  display: flex;
  width: 20px;
  height: 25px;
  align-items: center;


}
.social{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
#img{
  width: 50px;
  height: 50px;
 
}


#touch{
  color: #22ABD5;
  letter-spacing: 4px;
  align-items: center;
  font-size: 30px;

} 
#getin-touch{
  letter-spacing: 4px;
  font-size: 30px;
  color:#ffffff;
  text-align: center;
  margin-bottom: 80px;

 
}
#dontbe{
  color: #f5f5f5;
text-align: justify;
font-size: 25px;
font-weight: 800;
letter-spacing: 1.3px;
margin-left: 50px;
margin-bottom: 35px;
}
#para{
  color: #93989D;
  width: 400px;

  margin-left: 50px;
  margin-bottom: 50px;

}
.container img{
  margin-left: 50px;

}

#address{
  color: #22ABD5;
font-size: 15px;
font-style: normal;
font-weight: 600;
letter-spacing: 1.3px;
margin-left: 130px;
margin-top: -43px;



}

#address-line{
  color: #93989D;
  width: 200px;
  margin-left: 130px;

}
 
#form{
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  color: #ffffff;

  
}

#form button{
  color: #22ABD5;
  border: 1px solid #22ABD5;
  border-radius: 50px;
  padding: 5px;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 20px;
  width: 65%;
  letter-spacing: 1px;
  height: 40px;
  font-weight: bold;
}
.input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}
.input-group input{
  border-radius: 20px;
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #22ABD5;
  height: 35px;
  color: #ffffff;
  
}
.input-group input:focus{
  outline: 0;
}
#line1{
  display: flex;
  justify-content: space-around;

}
#yourname{
  width: 170px;
}
#youremail{
  width: 170px;
  margin-left: 10px;
}
#Message{
  height: 90px
}

.container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  
}
#form1{
 margin-right: 20px;
}

#backtohome{
  color: #22ABD5;
  border: 1px solid #22ABD5;
  border-radius: 50px;
  padding: 5px;
  margin: 30px 70px;
  cursor: pointer;
  font-size: 15x;
  width: 30%;
  letter-spacing: 1px;
  height: 30px;
  font-weight: bold;
}
#infohead{
  color: #22ABD5;
text-align: justify;
font-size: 15px;
letter-spacing: 1.5px;
margin-left: 50px;
margin-bottom: 2px;
}
.infos1{
  color: #cccccc;
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  letter-spacing: 2px;
 
  line-height: 30px;
}
#infos2{
  color: #0AFF40;
}
#cv{
  color: #22ABD5;
  border: 1px solid #22ABD5;
  border-radius: 50px;
  padding: 5px;
  margin: 30px;
  cursor: pointer;
  font-size: 15x;
  width: 40%;
  letter-spacing: 1px;
  height: 40px;
  font-weight: bold;

}
.card-container{
  border: 1px solid #93989D;
  width: 230px;
  padding: 25px;
  border-radius: 10px;
  height: 150px;


}
#cardline1{
color: #22ABD5;
font-size: 50px;
letter-spacing: 6px;
font-weight: 900;
margin-left:  15px;
margin-top: -10px;

}
#cardline2{
  color: #93989D;
  letter-spacing: 1.8px;
  line-height: 15px;
  font-weight: 600;
  margin-left:  30px;
  width: 80%;
  margin-top: -25px;

}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.aboutline1{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;

}
.line{
  align-items: center;
  border: 0.1px solid #868686;
  margin: 190px 500px 100px 500px;
  
}
#sociallink2{
  padding-left: 300px;  
}

.skillcard{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin: 0 300px;
}


#skillimg{
  width: 300x;
  height: 300px;

}

.exp-card{
  border: 1px solid #93989D;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  width: 90%;
}

#exp-year{
  background-color: #192C39;
  border-radius: 50px;
  color: #22ABD5;
text-align: center;
width: 150px;
height: 20px;
font-size: 15px;
padding: 5px;
letter-spacing: 2px;
font-weight: bold;
}
#exp-company{
  color: #cccccc;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
#exp-role{
  color: #4dd0ff;
  font-size: 22px;
}
#exp-description{
  color: #cccccc;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 556px;
  text-align: justify;
  line-height: 28px;

}
.exp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 50px;

}
.exp1{
  display: flex;
  gap: 10px;
  align-items:center
}
#workpng{
  width: 70px;
  height: 70px;
}

.para1{
  color: #93989D;
  font-size: 18px;
  text-align:justify;
  font-weight: bold;
  line-height: 38px;
  height: 200px;
  letter-spacing: 1.2px;
  padding: 10px 50px;
  width: 70%;
  height: 200px;
  margin-left: 200px;
}


#para-skillline{
  color: #4dd0ff;
}

#project-title{
  color: #cccccc;
  letter-spacing: 1.9px;
  padding: 20px;
  width:40%;
  margin-left:  30px;
  line-height: 50px;
}
#project-title1{
  color: #4dd0ff;
}
.project-card{
  display: flex;
  justify-content: space-evenly;
}
.project-card1{
  border: 2px solid #d7d7d7;
  color: #cccccc;
  width: 300px;
  height: auto;
  border-radius: 10px;

}
#project-img{
  width:100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;

}
#project-name{
  color: #ffffff;
  font-size: 22px;
  padding-left: 20px;
  letter-spacing: 2px;
}
#project-des{
  width: 85%;
  height: auto;
  text-align: justify;
  padding-left: 20px;
  line-height: 25px;
}
#project-button{

  border: 1px solid #4dd0ff;
  color: #4dd0ff;
  margin: 20px;
  width: 100px;
  padding: 2px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 4px;

}

#projectbutton{
  padding-left: 10px;

}
#home-skill{
  margin-top: 100px;
}
#home-contact-para{
  text-align: justify;
  color: #cccccc;
  font-size: 20px;
  letter-spacing: 1.8px;
  line-height: 35px;
  width: 600px;
  padding: 20px;
  

}
#contact-para1{
  color: #4dd0ff;

}
#contact-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-contact #getin-touch{
  margin-bottom: 20px;
}
#rights{
  text-align: end;
  padding-right: 50px;
  color: #6a6a6a;
  font-weight: 500;
  letter-spacing: 1.5px;
}